<div class="bg-dark text-white p-3 footer" style="font-family: 'Roboto Slab', serif;">
    <div class="d-flex flex-wrap justify-content-between ">
        <div>
            <hr>
             <h6>Head Office:</h6>
             <h6>ThunderStorm Digital Pvt.Ltd.</h6>
             <h6>13th Floor, Manjeera Trinity Corporate</h6>
             <h6>KPHB, Hyderabad-85</h6>
             <hr>
         </div>
         <div >
            <hr>
             <h6>Contact Us:</h6>
             <h6>thunderstorm@mail.com</h6>
             <h6>040-8764 8764</h6>
             <h4>
                <span><i class="fab fa-instagram"> .</i></span>
                <span><i class="fab fa-twitter"></i> .</span>
                <span><i class="fab fa-facebook-square"></i></span>
             </h4>
             <hr>
         </div>
     </div>
    <h6>Copyright 2021 © ThunderStorm Digital. All Rights Reserved.</h6>
</div>