<div class="container mt-5 pt-5 pb-5 bg-light">
    <h1 class="display-5 bg-warning mb-5">Contact Us</h1>
    <p>Please feel free to reach out to us for any queries or concerns.</p>
    <p>You can reach to us through any of the following means and we will get back to you.</p>
    <h2 class="mt-5">
        <i class="fas fa-envelope-open-text"></i>
        Email Us
    </h2>
    <p>Write to us at 
        <span class="text-primary">thunderstorm@mail.com</span> . Please mention the query/complaint/nature of the issue in the subject line. If you have purchased any product from us please do not forget to mention your Order ID and Invoice Number in your Email. This will us help us to solve your query sooner.</p>
    <h2 class="mt-5">
        <i class="fab fa-whatsapp"></i>
        WhatsApp
    </h2>
    <p>Add ThunderStorm Support number to phone contacts, then send us your questions via WhatsApp.(Our WhatsApp Number: +1203456789)</p>
    <h2 class="mt-5">
        <i class="fas fa-comments"></i>
        Chat With Us
    </h2>
    <p>Chat with our customer service executive to resolve your issues or ask to about any product information.</p>
    <h2 class="mt-5">
        <i class="fas fa-phone-volume"></i>
        Call Us
    </h2>
    <p>You can always call and have a conversation with our customer service executive. Our helpline number:
        <span class="text-primary">040-8764 8764</span>
    </p>
</div>