<div class="container mt-5 pt-2">
  <div class="mt-5">
    <h1 class="text-center text-danger" style="font-family: 'Roboto Slab', serif; font-size: 50px;">
      <i class="fas fa-bolt"></i>
      ThunderStorm Digital
    </h1>
    <h5 class="text-center text-danger" style="font-family: 'Roboto Slab', serif;">An Exclusive Electronics Store</h5>
  </div>

  <div id="carouselExampleControls" class="carousel slide w-100 mt-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://images.sangeethamobiles.net/sangeethaecommerce/banners/image_20210415_266829759c72e7cc2c93746e620ef832.webp"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://oasis.opstatics.com/content/dam/oasis/page/homepage/in/kv-banner/9R-GC-L.jpg"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://oasis.opstatics.com/content/dam/oasis/page/2021/9-series/compare/in/9pro_L.jpg"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-lg-block">
          <h3 class="text-danger" style="font-family: 'Roboto Slab', serif;"> OnePlus 9 Pro</h3>
          <p class="lead">Now On Sale</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://oasis.opstatics.com/content/dam/oasis/page/homepage/in/kv-banner/9-l.png"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-lg-block">
          <h3 class="text-danger" style="font-family: 'Roboto Slab', serif;"> OnePlus 9 5G</h3>
          <p class="lead">Now On Sale</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/CEPC/Wearables/OnePlus/Watch/Ingress/Date/onepluse_smarteverywere_1500x300.jpg"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/CEPC/Wearables/OnePlus/OnePlus_1500_300.jpg"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img
          src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/CEPC/MayArt/Computers/Co-op/Windows_1500x300.jpg"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/MAY_ART_2021/Laptops/Intel_1500x300.jpg"
          class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="bg-warning mt-4 p-2 text-center">
    <h4 class="display-5" style="font-size: 25px;">
      <i class="far fa-credit-card"></i>
      Get Upto 5% Cashback Using ABCD Bank Credit And Debit Cards
    </h4>
    <h4 class="lead">**Offer Lasts Until 15th May**</h4>
  </div>
</div>
